.banner img {
    height: 1080px;
}
.banner .slick-dots {
    bottom: 192px;
}
.banner .slick-dots li button {
    
    background: white;
}
.banner .slick-dots li.slick-active button {
    background: #383D40;;
}




/* // li button {
        //     width: 14px!important;
        //     height: 14px!important;
        //     border-radius: 100%;
        // color: #fff;
        // }
        // li.slick-active button {
        //     width: 14px!important;
        //     height: 14px!important;
        //     border-radius: 100%;
        // color: #383D40;
        //   } */