.header {
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #383D40;
    color: #fff;
    .headernav {
        width: 40%;
        ul {
        display: flex;
        flex-direction: row;
        font-size: 18px;
        justify-content: space-evenly;
        div {display: none;}
    }
    
    }
    
    .burger {
        display: none;
     div {
        width: 25px;
        height: 2px;
        background-color: rgb(266, 266, 266);
        margin: 5px;
    }
}}
@media screen and (max-width:768px){
    .header {
        // overflow-x: hidden;
    .headernav {
        display: none;
        transform: translateX(0);
        transition: all 0.5s ease-in;
        position: absolute;
        left: 0;
        top: 90px;
        z-index: 20;
        height: 100vh;
        color: #383D40;
        background-color: #F5F5F5;
        width: 50%;
        
     ul   {
        flex-direction: column;
        align-items: center;
        div {
            width: 100%;
            font-size: 30px;
            background-color: #277CFB;
            display: flex;
            justify-content: space-around;
            color: white;
            button:hover {
                color: #383D40;
            }
        }

        li {
            margin: 20px 0;
        }
        }
    }
    .burger {
        display: block;
    }
}}