body {
  margin: 0 auto;
  font-family: 'Noto Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F5F5F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li button {
      width: 14px!important;
       height: 14px!important;
      border-radius: 100%!important;
      opacity: 1!important;
   }
   .slick-prev, .slick-next {
    background: transparent!important;
    border-radius: 4px!important;
     width: 36px!important;
    height: 36px!important;
    top: -90px!important;
   }
   .slick-prev {
    left: unset!important;
    right: 100px!important;
   }
   .slick-next {
    right: 10px!important;
   }
   .slick-prev::before, .slick-next::before {
   color: #277CFB!important;
    font-size: 36px!important;
   }